---
import App from "../components/app.astro";
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>idealclover</title>
    <meta name="description" content="ç¿ ç¿ çš„ä¸ªäººåç‰‡ðŸ‘‹" />
    <meta property="og:title" content="idealclover" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="ç¿ ç¿ çš„ä¸ªäººåç‰‡ðŸ‘‹" />
    <meta property="og:url" content="https://idealclover.cn" />
    <meta property="og:image" content="icons/cover.png" />
    <link
      rel="preload"
      href="/fonts/MaoKenZhuYuanTi.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link rel="preload" href="/icons/icons.png" as="image" type="image/png" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link rel="dns-prefetch" href="//idealclover.top" />
    <style>
      @font-face {
        font-family: "MaokenZhuyuanTi";
        src: url("/fonts/MaoKenZhuYuanTi.ttf");
        font-display: swap;
      }

      body {
        cursor: url("/icons/cursor.ico"), auto;
        font-family: "MaokenZhuyuanTi";
      }
    </style>
  </head>
  <body>
    <div style="display: none">
      <img src="/icons/cover.png" alt="" />
    </div>
    <App />
    <script defer src="/libs/mouse-click.js"></script>

    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-EPS8XLSB6V"></script>
    <script is:inline>function loadScript(){if(!isLoaded&&window.innerWidth>768)return scriptElement=document.createElement("script"),scriptElement.src="https://webapi.amap.com/maps?v=1.4.15",document.head.appendChild(scriptElement),scriptElement.onload=function(){document.querySelector(".map").style.display="block";new AMap.Map("map-container",{center:[116.397428,39.90923],zoom:10})},void(isLoaded=!0);if(isLoaded)if(window.innerWidth<=768){document.querySelector(".map").style.display="none"}else{document.querySelector(".map").style.display="block"}}function gtag(){dataLayer.push(arguments)}let isLoaded=!1,scriptElement=null;loadScript(),window.addEventListener("resize",loadScript),window.heap=window.heap||[],heap.load=function(e,t){var r,a,n,p,o;for(window.heap.appid=e,window.heap.config=t=t||{},(r=document.createElement("script")).type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js",(a=document.getElementsByTagName("script")[0]).parentNode.insertBefore(r,a),n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])},heap.load("3744982711"),window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-W8NZX8HDXQ"),"serviceWorker"in navigator&&(console.log("Will the service worker register?"),navigator.serviceWorker.register("https://idealclover.top/sw.js").then((function(){console.log("Yes, it did.")})).catch((function(err){console.log("No it did not. This happened: ",err)})));</script>
  </body>
</html>
