---
interface Props {
  info: {
    title: string;
    url: string;
    bgStyle?: string;
    textStyle?: string;
  };
}

const { info } = Astro.props;
---

<a href={info.url} target="_blank">
  <div
    class:list={[
      "card max-lg:card-compact rounded-2xl shadow-xl w-full aspect-[9/16] lg:w-[12rem] lg:h-[21.33rem] mb-8",
      info.bgStyle,
    ]}
  >
    <div class="card-body rounded-2xl w-full h-full !p-0 relative">
      <div class="h-full w-full"></div>
      <div class="absolute bottom-0 w-full p-4 glass rounded-b-2xl">
        <p class:list={[info.textStyle, "card-title text-base"]}>
          {info.title}
        </p>
      </div>
    </div>
  </div>
</a>
