@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MaokenZhuyuanTi';
    src: url('/fonts/MaoKenZhuYuanTi.ttf');
    font-display: swap;
}

body {
    cursor: url('/icons/cursor.ico'),auto;
    font-family:'MaokenZhuyuanTi';
}

.mail {
    background: url('/icons/icons.png') -0px -0px no-repeat;
    width: 64px;
    height:64px;
}
.QQ {
    background: url('/icons/icons.png') -64px -0px no-repeat;
    width: 64px;
    height:64px;
}
.telegram {
    background: url('/icons/icons.png') -128px -0px no-repeat;
    width: 64px;
    height:64px;
}
.twitter {
    background: url('/icons/icons.png') -192px -0px no-repeat;
    width: 64px;
    height:64px;
}
.mail_s {
    background: url('/icons/icons.png') -0px -0px no-repeat;
    background-size: cover;
    width: 32px;
    height:32px;
}
.QQ_s {
    background: url('/icons/icons.png') -32px -0px no-repeat;
    background-size: cover;
    width: 32px;
    height:32px;
}
.telegram_s {
    background: url('/icons/icons.png') -64px -0px no-repeat;
    background-size: cover;
    width: 32px;
    height:32px;
}
.twitter_s {
    background: url('/icons/icons.png') -96px -0px no-repeat;
    background-size: cover;
    width: 32px;
    height:32px;
}
.jike {
    background: url('/icons/icons.png') -256px -0px no-repeat;
    width: 32px;
    height:32px;
}
.coolapk {
    background: url('/icons/icons.png') -288px -0px no-repeat;
    width: 32px;
    height:32px;
}
.sspai {
    background: url('/icons/icons.png') -320px -0px no-repeat;
    width: 32px;
    height:32px;
}
.Steam {
    background: url('/icons/icons.png') -352px -0px no-repeat;
    width: 32px;
    height:32px;
}
