@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MaokenZhuyuanTi';
    /* src: url('/static/font.woff') */
    src: url('https://cdn.idealclover.cn/Projects/homepage/font.woff');
}

body {
    cursor: url('https://cdn.idealclover.cn/Projects/homepage/cursor.ico'),auto;
    font-family:'MaokenZhuyuanTi';
}